@bg-blue:#5B83AD;
@light-blue:@bg-blue+#111;
.top-header{
    padding: 0em 2em;
    background: @bg-blue;
}
ul.top-nag{
    float: left;
    li{
        display: inline-block;
        margin-left: 0;
    }
    a{
        color: #fff;
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
        padding:20px;
        background: @bg-blue;
    }
}
